<p>Dear {{ user.first_name }} {{ user.last_name}},</p>
<p>To reset your password, please click <a
  href="{{url_for('users.reset_password', token=token, _external=True)}}">here</a>
<p>Or you can paste the following link to your browser's address bar: </p>
<p>{{ url_for('users.reset_password', token=token, _external=True)}}</p>

<p>If you have not requested to reset your password, simply ignore this
message.</p>

<p>Sincerly, </p>
<p>The WLH Library Team</p>

<p>This message has been generated automatically. Please do not reply. In case of
an issue, please contact WLH librarian in the Library office.</p>
