{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_field %}
{% block content %}
     {{ super() }}     
<div class="container book-info">
<table class="table">
    <tbody>
        <tr>
            <th>Title</th>
            <td>{{ book.title }}</td>
        </tr>
        <tr>
            <th>Author</th>
            <td>{{ book.print_authors() }}</td>
        </tr>
        <tr>
            <th>Publisher</th>
            <td>{{ book.publisher.name }}</td>
        </tr>
        <tr>
            <th>Place of publication</th>
            <td>{{ book.city or "" }}</td>
        </tr>
        <tr>
            <th>Year of publication</th>
            <td>{{ book.pub_year or "" }}</td>
        </tr>
        <tr>
            <th>Serie</th>
            <td>{{ book.serie if book.serie else "" }}</td>
        </tr>
        <tr>
            <th>Translation</th>
            <td>{{ book.print_trans() }}</td>
        </tr>
        <tr>
            <th>Redaction</th>
            <td>{{ book.print_red() }}</td>
        </tr>
        <tr>
            <th>Introduction</th>
            <td>{{ book.print_intro() }}</td>
        </tr>
        <tr>
            <th>Isbn</th>
            <td>{{ book.isbn or "" }}</td>
        </tr>
        <tr>
            <th>Origin language</th>
            <td>{{ book.origin_language or "" }}</td>
        </tr>
        <tr>
            <th>First edition</th>
            <td>{{ book.first_edition or "" }}</td>
        </tr>
        <tr>
            <th>Form</th>
            <td>{{ book.literary_form.value or "" }}</td>
        </tr>
        <tr>
            <th>Genre</th>
            <td>{{ book.genre or "" }}</td>
        </tr>
        <tr>
            <th>Subject</th>
            <td>{{ book.subject or "" }}</td>
        </tr>
        <tr>
            <th>Precision</th>
            <td>{{ book.precision or "" }}</td>
        </tr>
        <tr>
            <th>NUKAT</th>
            <td>{{ book.nukat or "" }}</td>
        </tr>
        <tr>
            <th>N of copies</th>
            <td>{{ book.copies.count() }}</td>
        </tr>

    </tbody>
  </table>
</div>
    
    
<div class="container">
    <h4>New copy: </h4>
<form action="" method="POST" accept-charset="utf-8">
  {{ form.hidden_tag() }}


  {{ form.signature_mark.label }} 
  <div class="row">
     <div class="col-md-6">
  <p>{{ form.signature_mark(class_="form-control") }}</p>
     </div>
  </div>
  
  {{ form.section.label }} 
  <div class="row">
     <div class="col-md-6">
  <p>{{ form.section(class_="form-control") }}</p>
     </div>
     <div class="col-md-3"> 
       <button class="fake btn btn-warning btn-sm">Error</button> 
     </div> 
  </div>
  
  {{ form.location.label }} 
  <div class="row">
     <div class="col-md-6">
  <p>{{ form.location(class_="form-control") }}</p>
     </div>
     <div class="col-md-3"> 
       <button class="fake btn btn-warning btn-sm">Error</button> 
     </div> 
  </div>
  
  {{ form.collection.label }} 
  <div class="row">
     <div class="col-md-6">
  <p>{{ form.collection(class_="form-control") }}</p>
     </div>
     <div class="col-md-3"> 
       <button class="fake btn btn-warning btn-sm">Error</button> 
     </div> 
  </div>
  
  {{ form.remarques.label }} 
  <div class="row">
     <div class="col-md-6">
  <p>{{ form.remarques(class_="form-control") }}</p>
     </div>
  </div>
  <div class="row">
      <div class="col-md-1">
  {{ form.on_shelf.label }} 
          </div>
     <div class="col-md-2">
  <p>{{ form.on_shelf(class_="form-check-input") }}</p>
     </div>
  </div>
  
 <p>{{ form.submit(class_="btn btn-primary btn-md") }}</p>
 </div>




</form>
    
{#} <div class="container">
     <div class="row">
         <div class="col-md-4">
             {{ wtf.quick_form(form) }}
         </div>
     </div>
    
</div>{#}
    
    
    
    

{% endblock %}
