{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block ajax %}
	<link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/start/jquery-ui.min.css" rel="stylesheet">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

	<style>
		#autocomplete.ui-autocomplete-loading {
			background-image: url(loading.gif);
			background-position: right center;
			background-repeat: no-repeat;
		}
	</style>
{% endblock %}
{% block title %}
    New book: step 2 
{% endblock %}
{% block body %}
     {{ super() }}     
    <h1>Enter the book creators: </h1>
    {% block scripts %}
        {{ super() }}
<link href="//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
<script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="//code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
     <script type="text/javascript" src="{{ url_for('static', filename='autocomplete.js') }}"></script>

    {% endblock %}

<form class="form form-horizontal" action="" method="POST" accept-charset="utf-8">
    {{ form.hidden_tag() }}
    <p>
    {{ form.a1.label }}
    {{ form.a1(size=32, class="creator") }}
    {% for error in form.a1.errors %}
        <span style="color: red">{{ error }}</span>   
    {% endfor %}
    </p>
    <p>
    {{ form.a2.label }}
    {{ form.a2(size=32, class="creator") }}
    {% for error in form.a2.errors %}
        <span style="color: red">{{ error }}</span>   
    {% endfor %}
    </p>
    <p>
    {{ form.a3.label }}
    {{ form.a3(size=32, class="creator") }}
    {% for error in form.a3.errors %}
        <span style="color: red">{{ error }}</span>   
    {% endfor %}
        <input type="hidden" value="" name="a3-value" id="a3-value"/>
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}
