{% extends 'base.html' %}

{% block content %}

     {{ super() }}     
<div class="mx-auto px-auto">
    <h3 >You are searching for:</h3> 
    <h2 > {{ ctx.title }}</h2>
</div>

<br>
{% if ctx.books %}
    <h3>Results:</h3>
<h5>Select one of existing records to add a new copy or enter a new record.</h5>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th></th>
            <th>Author</th>
            <th></th>
            <th>Publisher</th>
            <th></th>
            <th>Place of publication</th>
            <th></th>
            <th>Year of publication</th>
            <th></th>
            <th>Approuve</th>
        </tr>
    </thead>
    <tbody>
        {% for book in ctx.books%}
      <tr>
          <td>{{ loop.index }}</td>  
          <td><a href="{{ url_for('staff.add_copy', id=book.id)}}">{{ book.title }}</a></td>
          <td>x</td>
        <td>{{ book.print_authors() }}</td>
          <td>x</td>
        <td>{{ book.publisher.name }}</td>
          <td>x</td>
        <td>{{ book.city.name }}</td>
          <td>x</td>
        <td>{{ book.pub_year }}</td>
          <td>x</td>
        <td><a href="" style="color: black;">X</a></td>
      </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <h4>No results found. Please enter a new record.</h4>
{% endif %}

<button class="btn btn-primary fake" type="submit"> <a style="color: white" href="{{ url_for('staff.add_book') }}">New Record</a>  </button>
{% endblock %}
