
<form action="" method="post"
  class="form" role="form">
  <input id="csrf_token" name="csrf_token" type="hidden" value="Ijg0NzU1OGFjYzk0YjI2N2ZmYTY3Y2YxYjUxMDI3ZTk3YTMxNDBmMjEi.X9T-ug.IhDLbyoYKWMGux2x53z7Xma8UJU">
  
    





  <fieldset>
    <legend><label for="authors">Authors</label></legend>
<div class="form-group ">
<label class="control-label" for="authors-persons">Persons</label>
        
 <ul class="form-control" id="authors-persons">
   <li><label for="authors-persons-0">Name</label> 
     <input id="authors-persons-0" name="authors-persons-0" type="text" value=""></li>
   <li><label for="authors-persons-1">Name</label> 
     <input id="authors-persons-1" name="authors-persons-1" type="text" value=""></li>
   <li><label for="authors-persons-2">Name</label> 
     <input id="authors-persons-2" name="authors-persons-2" type="text" value=""></li>
 </ul>
  </div>     
  </fieldset>


  <fieldset>
    <legend><label for="translators">Translators</label></legend>
<div class="form-group "><label class="control-label" for="translators-persons">Persons</label>
        
 <ul class="form-control" id="translators-persons">
   <li><label for="translators-persons-0">Name</label> 
     <input id="translators-persons-0" name="translators-persons-0" type="text" value=""></li>
   <li><label for="translators-persons-1">Name</label> 
     <input id="translators-persons-1" name="translators-persons-1" type="text" value=""></li>
   <li><label for="translators-persons-2">Name</label> 
     <input id="translators-persons-2" name="translators-persons-2" type="text" value=""></li></ul>
  </div>
  </fieldset>
    <input class="btn btn-default" id="submit" name="submit" type="submit" value="Submit">
</form> 










<form class="form form-horizontal" action="" method="POST" accept-charset="utf-8">
    <input id="csrf_token" name="csrf_token" type="hidden" value="Ijg0NzU1OGFjYzk0YjI2N2ZmYTY3Y2YxYjUxMDI3ZTk3YTMxNDBmMjEi.X9UYsw.RkRETUkgvjraFF5LnuETtwn8BjU">
    <p>
    <label for="authors">Authors</label>

        <ul id="authors-persons">
          <li><label for="authors-persons-0">Name</label> 
            <input id="authors-persons-0" name="authors-persons-0" type="text" value=""></li>
          <li><label for="authors-persons-1">Name</label> 
            <input id="authors-persons-1" name="authors-persons-1" type="text" value=""></li>
          <li><label for="authors-persons-2">Name</label> 
            <input id="authors-persons-2" name="authors-persons-2" type="text" value=""></li></ul>

        <input id="authors-role" name="authors-role" type="hidden" value="">

        <input id="authors-csrf_token" name="authors-csrf_token" type="hidden" value="Ijg0NzU1OGFjYzk0YjI2N2ZmYTY3Y2YxYjUxMDI3ZTk3YTMxNDBmMjEi.X9UYsw.RkRETUkgvjraFF5LnuETtwn8BjU">


    </p>
    <p>
    <label for="translators">Translators</label>

        <ul id="translators-persons"><li><label for="translators-persons-0">Name</label> <input id="translators-persons-0" name="translators-persons-0" type="text" value=""></li><li><label for="translators-persons-1">Name</label> <input id="translators-persons-1" name="translators-persons-1" type="text" value=""></li><li><label for="translators-persons-2">Name</label> <input id="translators-persons-2" name="translators-persons-2" type="text" value=""></li></ul>

        <input id="translators-role" name="translators-role" type="hidden" value="">

        <input id="translators-csrf_token" name="translators-csrf_token" type="hidden" value="Ijg0NzU1OGFjYzk0YjI2N2ZmYTY3Y2YxYjUxMDI3ZTk3YTMxNDBmMjEi.X9UYsw.RkRETUkgvjraFF5LnuETtwn8BjU">


    </p>
    <p><input id="submit" name="submit" type="submit" value="Submit"></p>
    </form>
