{% extends 'base.html' %}

 {% block content %}
     
     {{ super() }}     
<div class="mx-auto px-auto" style="width: 800px;">
    <h1>Enter the title: </h1>
    <br>
<form action="" method="POST" accept-charset="utf-8">
    {{ form.hidden_tag() }}
    <p>
    {{ form.title.label }}
    {{ form.title(size=32, class_="title") }}
    {% for error in form.title.errors %}
        <span style="color: red">{{ error }}</span>   
    {% endfor %}
    </p>
    <p>{{ form.submit(class_="btn btn-info") }}</p>
</form>

</div>
{% endblock %}
