<h1>Book Information:</h1>

 <div class="container" id="book-info">
          {#}      <h5>{{ form.book.label }}</h5>{#}
  <div class="row">
   <div class="col-md-6">
      {{ form.isbn.label }} 
      <p>{{ form.isbn(class_="form-control") }}</p>
   </div>
 </div>  
  <div class="row">
   <div class="col-md-6">
      {{ form.origin_language.label }} 
      <p>{{form.origin_language(class_="form-control") }}</p>
    </div>
  </div>
  <div class="row">
   <div class="col-md-6">
      {{ form.first_edition.label }} 
      <p>{{ form.first_edition(class_="form-control") }}</p>
    </div>
  </div>
      
  <div class="row">
   <div class="col-md-6">
      {{ form.fiction.label }} 
      <p>{{ form.fiction(class_="form-control") }}</p>
   </div>   
  </div> 
  <div class="row">
   <div class="col-md-6">
      {{ form.literary_form.label }} 
      <p>{{ form.literary_form(class_="form-control") }}</p>
   </div>
   </div>  
  <div class="row">
   <div class="col-md-6">
      {{ form.genre.label }} 
      <p>{{ form.genre(class_="form-control") }}</p>
   </div>
   </div>  
  <div class="row">
   <div class="col-md-6">
      {#}      <p> {{ form.book.subject.label }} {{ form.book.subject() }}</p>
      <p> {{ form.book.periodic_num.label }} {{ form.book.periodic_num() }}</p>
      {#}
      {{ form.precision.label }} 
      <p>{{ form.precision(class_="form-control") }}</p>
   </div>
  </div>

  <div class="row">
   <div class="col-md-6">
      {{ form.nukat.label }} 
      <p>{{ form.nukat(class_="form-control") }}</p>
    </div> 
   </div>
</div> {# book-info #}
 

<p><button class="fake btn btn-info step--prev">Back</button> </p>
 <p>{{ form.submit(class_="btn btn-primary btn-md") }}</p>
  </form>
