<h1>Book Information:</h1>

 <div class="container" id="book-info">
          {#}      <h5>{{ form.book.label }}</h5>{#}
      <p>{{ form.isbn.label }} {{ form.isbn(class_="form-control") }}</p>
      <p> {{ form.origin_language.label }} {{form.origin_language(class_="form-control") }}</p>
      <p> {{ form.first_edition.label }} {{ form.first_edition(class_="form-control") }}</p>
      <p> {{ form.fiction.label }} {{ form.fiction(class_="form-control") }}</p>
      <p> {{ form.genre.label }} {{ form.genre(class_="form-control") }}</p>
      <p> {{ form.literary_form.label }} {{ form.literary_form(class_="form-control") }}</p>
      {#}      <p> {{ form.book.subject.label }} {{ form.book.subject() }}</p>
      <p> {{ form.book.periodic_num.label }} {{ form.book.periodic_num() }}</p>
      {#}
      <p> {{ form.precision.label }} {{ form.precision(class_="form-control") }}</p>
      <p> {{ form.nukat.label }} {{ form.nukat(class_="form-control") }}</p>
 </div> {# book-info #}
 

<button class="fake btn btn-info step--prev">Back</button> 
 <p>{{ form.submit() }}</p>
  </form>
