{% extends 'base.html' %}

{% block autocomplete %}
	<link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/start/jquery-ui.min.css" rel="stylesheet">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

	<style>
		#autocomplete.ui-autocomplete-loading {
			background-image: url(loading.gif);
			background-position: right center;
			background-repeat: no-repeat;
        }
        h1 {color: red;}
	</style>
{% endblock %}

    {% block scripts %}
        {{ super() }}
<link href="//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
<script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="//code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
     <script type="text/javascript" src="{{ url_for('static', filename='autocomplete.js') }}"></script>

    {% endblock %}
{% block title %}
    New book: step 2 
{% endblock %}

{% block body %}
    <h1>Enter the book creators: </h1>
    <form class="form form-horizontal" action="" method="POST" accept-charset="utf-8">
        {{ form.hidden_tag() }}
        <p> {{ form.title(size=64) }}</p>
   <div class="container" id="authors">
    <h4>{{ form.authors.label }}</h4>
    {% for f in form.authors %}
        <p> {{ f.form.name.label }}  {{ f.form.name() }}</p>
    {% endfor %}
    {% for error in form.authors.errors %}
        <span style="color: red">{{ error }}</span>   
    {% endfor %}
        </div> <br>
        <div class="container" id="translators">
        <h4>{{ form.translators.label }}</h4>
    {% for f in form.translators %}
        <p>{{ f.form.name.label }} {{ f.form.name() }}</p>
    {% endfor %}
    {% for error in form.translators.errors %}
        <span style="color: red">{{ error }}</span>   
    {% endfor %}
        </div>
    <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
