<h1>Basic Info: </h1>

<form class="form form-horizontal" action="" method="POST" accept-charset="utf-8">
  {{ form.hidden_tag() }}
  
<div class="container" id="title">
  <div class="row">
     <div class="col-md-6">
        <h6>{{ form.title.label }}</h6>
        <p> {{ form.title(class="title form-control") }}</p>
      </div>
   </div>
  {% for error in form.title.errors %}
      <span style="color: red">{{ error }}</span>   
  {% endfor %}
</div>


<div class="container" id="creators">
   
 <div  class="role a">
   <div class="row">
     <div class="col-md-3">
       <h6>{{ form.authors.label }}</h6>
     </div>
     <div class="col-md-3"> 
        <button class="btn btn-light btn-sm fake add-person">Add</button>
     </div> 
   </div>
   {% for f in form.authors %}
        {% if loop.first %}
    <div class="row active">
      <div class="col-md-6">
          <p>{{ f.form.name(class_="creator form-control") }}</p>
            {{ f.form.role }}
            {{ f.form.id_ }}
       </div>
     <div class="col-md-3"> 
       <button class="clear--p fake btn btn-danger btn-sm">Clear</button> 
       <button class="fake btn btn-warning btn-sm">Error</button> 
     </div> 
      </div>
        {%  else %}
    <div class="row invisible">
      <div class="col-md-6">
          <p> {{ f.form.name(class_="creator form-control") }}</p>
            {{ f.form.role }}
            {{ f.form.id_ }}
       </div>
     <div class="col-md-3"> 
       <button class="clear--p fake btn btn-danger btn-sm">Clear</button> 
       <button class="fake btn btn-warning btn-sm">Error</button> 
     </div> 
      </div>
        {% endif %}
    {% endfor %}
  
  {% for error in form.authors.errors %}
      <span style="color: red">{{ error }}</span>   
  {% endfor %}
   </div>

<div class="invisible role t">
  <div class="row">
     <div class="col-md-6">
      <h6>{{ form.translators.label }}</h6>
     </div>
     <div class="col-md-3"> 
     <button class="btn btn-light btn-sm fake add-person">Add</button>
     </div> 
   </div>
  {% for f in form.translators %}
    {% if loop.first %}
     <div class="row active">
       <div class="col-md-6">
         <p> {{ f.form.name(class_="creator form-control") }}</p>
        {{ f.form.role }}
        {{ f.form.id_ }}
     </div>
     <div class="col-md-3"> 
       <button class="clear--p fake btn btn-danger btn-sm">Clear</button> 
       <button class="fake btn btn-warning btn-sm">Error</button> 
     </div> 
  </div>
      {% else %}
     <div class="row invisible">
       <div class="col-md-6">
        <p>{{ f.form.name(class_="creator form-control") }}</p>
        {{ f.form.role }}
        {{ f.form.id_ }}
     </div>
     <div class="col-md-3"> 
       <button class="clear--p fake btn btn-danger btn-sm">Clear</button> 
       <button class="fake btn btn-warning btn-sm">Error</button> 
     </div> 
  </div>
      {%  endif %}
  {% endfor %}
  
  {% for error in form.translators.errors %}
      <span style="color: red">{{ error }}</span>   
    {% endfor %}
    {#}    <p> <button class="btn btn-light btn-sm fake add-person">Add</button> </p>{#}
 </div>





<div class="invisible role r">
  <div class="row">
     <div class="col-md-6">
      <h6>{{ form.redactors.label }}</h6>
     </div>
     <div class="col-md-3"> 
     <button class="btn btn-light btn-sm fake add-person">Add</button>
     </div> 
   </div>
  {% for f in form.redactors %}
    {% if loop.first %}
     <div class="row active">
       <div class="col-md-6">
         <p> {{ f.form.name(class_="creator form-control") }}</p>
        {{ f.form.role }}
        {{ f.form.id_ }}
     </div>
     <div class="col-md-3"> 
       <button class="clear--p fake btn btn-danger btn-sm">Clear</button> 
       <button class="fake btn btn-warning btn-sm">Error</button> 
     </div> 
  </div>
      {% else %}
     <div class="row invisible">
       <div class="col-md-6">
        <p>{{ f.form.name(class_="creator form-control") }}</p>
        {{ f.form.role }}
        {{ f.form.id_ }}
     </div>
     <div class="col-md-3"> 
       <button class="clear--p fake btn btn-danger btn-sm">Clear</button> 
       <button class="fake btn btn-warning btn-sm">Error</button> 
     </div> 
  </div>
      {%  endif %}
  {% endfor %}

  {% for error in form.redactors.errors %}
      <span style="color: red">{{ error }}</span>   
    {% endfor %}
    {#}    <p> <button class="btn btn-light btn-sm fake add-person">Add</button> </p>{#}
 </div>

 





<div class="invisible role i">
  <div class="row">
     <div class="col-md-6">
      <h6>{{ form.intro.label }}</h6>
     </div>
     <div class="col-md-3"> 
     <button class="btn btn-light btn-sm fake add-person">Add</button>
     </div> 
   </div>
  {% for f in form.intro %}
    {% if loop.first %}
     <div class="row active">
       <div class="col-md-6">
         <p> {{ f.form.name(class_="creator form-control") }}</p>
        {{ f.form.role }}
        {{ f.form.id_ }}
     </div>
     <div class="col-md-3"> 
       <button class="clear--p fake btn btn-danger btn-sm">Clear</button> 
       <button class="fake btn btn-warning btn-sm">Error</button> 
     </div> 
  </div>
      {% else %}
     <div class="row invisible">
       <div class="col-md-6">
        <p>{{ f.form.name(class_="creator form-control") }}</p>
        {{ f.form.role }}
        {{ f.form.id_ }}
     </div>
     <div class="col-md-3"> 
       <button class="clear--p fake btn btn-danger btn-sm">Clear</button> 
       <button class="fake btn btn-warning btn-sm">Error</button> 
     </div> 
  </div>
      {%  endif %}
  {% endfor %}

  {% for error in form.intro.errors %}
      <span style="color: red">{{ error }}</span>   
    {% endfor %}
    {#}    <p> <button class="btn btn-light btn-sm fake add-person">Add</button> </p>{#}
 </div>

 <div class="add-role">
 <button class="btn btn-light fake"  id="t">Translators</button>
 <button class="btn btn-light fake" id="r">Redaction</button>
 <button class="btn btn-light fake" id="i">Introduction</button>
</div>



<br>
 </div> {# creators #}
 
<div class="container" id="published">
   {#}    <h5>{{ form.published.label }}</h5>{#}
       {{ form.publisher_name.label }} 
  <div class="row">
     <div class="col-md-6">
       <p> {{ form.publisher_name(class_="publisher form-control") }}</p>
       {{ form.id_ }}
     </div>
     <div class="col-md-3"> 
       <button class="clear fake btn btn-danger btn-sm">Clear</button> 
       <button class="fake btn btn-warning btn-sm">Error</button> 
     </div> 
  </div>

       {{ form.city.label }} 
  <div class="row">
     <div class="col-md-6">
       <p> {{ form.city(class_="form-control") }}</p>
       {{ form.city_id_ }}
     </div>
     <div class="col-md-3"> 
       <button class="clear fake btn btn-danger btn-sm">Clear</button> 
       <button class="fake btn btn-warning btn-sm">Error</button> 
     </div> 
  </div>
       
       {{ form.pub_year.label }} 
  <div class="row">
     <div class="col-md-6">
       <p> {{ form.pub_year(class_="form-control") }}</p>
     </div>
  </div>

       {{ form.serie.label }} 
  <div class="row">
    <div class="col-md-6">
      <p> {{ form.serie(class_="serie form-control") }} </p>
       {{ form.serie_id_ }}
     </div>
     <div class="col-md-3"> 
       <button class="clear fake btn btn-danger btn-sm">Clear</button> 
       <button class="fake btn btn-warning btn-sm">Error</button> 
     </div> 
   </div>
</div> {# published #}
<br>
 
 
 
<p><button class="fake btn btn-info step--next">Next</button> </p>
 
 
 
 
