<h1>Basic Info: </h1>

<form class="form form-horizontal" action="" method="POST" accept-charset="utf-8">
  {{ form.hidden_tag() }}
  <div class="container" id="title">
  <h5>{{ form.title.label }}</h5>
      <p> {{ form.title(size=64, class="title form-control") }}</p>
</div>


<div class="container" id="creators">
   
    <div  class="a">
  <h5>{{ form.authors.label }}</h5>
  {% for f in form.authors %}
    {% if loop.first %}
      <p class="active"> {{ f.form.name.label }}  {{ f.form.name(size=32, class_="creator form-control") }}</p>
      <p>{{ f.form.role }}</p>
      <p>{{ f.form.id_ }}</p>
      {%  else %}
      <p class="invisible"> {{ f.form.name.label }}  {{ f.form.name(size=32, class_="creator form-control") }}</p>
      <p>{{ f.form.role }}</p>
      <p>{{ f.form.id_ }}</p>
    {% endif %}
  {% endfor %}
  {% for error in form.authors.errors %}
      <span style="color: red">{{ error }}</span>   
  {% endfor %}
    <p> <button class="btn btn-light btn-sm fake add-person">Add author</button> </p>
 </div>

<div class="invisible t">
      <h5>{{ form.translators.label }}</h5>
  {% for f in form.translators %}
    {% if loop.first %}
      <p class="active">{{ f.form.name.label }} {{ f.form.name(size=32, class_="creator form-control") }}</p>

      <p>{{ f.form.role }}</p>
      <p>{{ f.form.id_ }}</p>
    {% else %}
      <p class="invisible">{{ f.form.name.label }} {{ f.form.name(size=32, class_="creator form-control") }}</p>
      <p>{{ f.form.role }}</p>
      <p>{{ f.form.id_ }}</p>
      {%  endif %}

  {% endfor %}
  {% for error in form.translators.errors %}
      <span style="color: red">{{ error }}</span>   
    {% endfor %}
    <p> <button class="btn btn-light btn-sm fake add-person">Add translator</button> </p>
 </div>

<div class="invisible r">
      <h5>{{ form.redactors.label }}</h5>
  {% for f in form.redactors %}
    {% if loop.first %}
      <p class="active">{{ f.form.name.label }} {{ f.form.name(size=32, class_="creator form-control") }}</p>

      <p>{{ f.form.role }}</p>
      <p>{{ f.form.id_ }}</p>
    {% else %}
      <p class="invisible">{{ f.form.name.label }} {{ f.form.name(size=32, class_="creator form-control") }}</p>
      <p>{{ f.form.role }}</p>
      <p>{{ f.form.id_ }}</p>
      {%  endif %}

  {% endfor %}
  {% for error in form.redactors.errors %}
      <span style="color: red">{{ error }}</span>   
    {% endfor %}
    <p> <button class="btn btn-light btn-sm fake add-person">Add redactor</button> </p>
 </div>



<div class="invisible i">
      <h5>{{ form.intro.label }}</h5>
  {% for f in form.intro %}
    {% if loop.first %}
      <p class="active">{{ f.form.name.label }} {{ f.form.name(size=32, class_="creator form-control") }}</p>

      <p>{{ f.form.role }}</p>
      <p>{{ f.form.id_ }}</p>
    {% else %}
      <p class="invisible">{{ f.form.name.label }} {{ f.form.name(size=32, class_="creator form-control") }}</p>
      <p>{{ f.form.role }}</p>
      <p>{{ f.form.id_ }}</p>
      {%  endif %}

  {% endfor %}
  {% for error in form.intro.errors %}
      <span style="color: red">{{ error }}</span>   
    {% endfor %}
    <p> <button class="btn btn-light btn-sm fake add-person">Add intro author</button> </p>
 </div>

 <div class="add-role">
 <button class="btn btn-light fake"  id="t">Translators</button>
 <button class="btn btn-light fake" id="r">Redaction</button>
 <button class="btn btn-light fake" id="i">Introduction</button>
</div>



<br>
 </div> {# creators #}
 
 <div class="container" id="published">
   {#}    <h5>{{ form.published.label }}</h5>{#}
      <p>{{ form.publisher_name.label }} {{ form.publisher_name(size=32, class_="publisher form-control") }}<button class="clear fake btn btn-danger btn-sm">Clear</button> <button class="fake btn btn-warning btn-sm">Error</button>  </p>
      <p>{{ form.id_ }}</p>
      <p> {{ form.city.label }} {{form.city(size=32, class_="form-control") }}</p>
      <p>{{ form.city_id_ }}</p>
      <p> {{ form.pub_year.label }} {{ form.pub_year(size=32, class_="form-control") }}</p>
      <p> {{ form.serie.label }} {{ form.serie(size=32, class_="serie form-control") }} <button class="fake btn btn-warning btn-sm">Error</button> </p>
      <p>{{ form.serie_id_ }}</p>
 </div> {# published #}
 
 
 
<button class="fake btn btn-info step--next">Next</button> 
 
 
 
 
